{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    
    
    <a href="{{ path('homepage') }}">
      Back to homepage.
    </a>
    <br>
    <a href="{{ path('show_article', {'Category': category.id }) }}">{{category.name}}></a>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    {# blog_show qui m'enmene sur tous les articles de la catégorie
     #}

     {# <a href="{{ path('blog_category', {'id': article.id }) }}">{{article.title}}></a> url qui ressemble à ça http://127.0.0.1:8000/blog/category?id=1 #}
    
{% endblock %}