{% extends 'base.html.twig' %}

{% block title %}Article de la catégorie {{category.name}}{% endblock %}

{% block body %}
    
    <h1>Tous les articles de la catégorie {{category.name}} </h1>
    
    {# {{dump(articles)}}
    {{dump(cat)}} #}

    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %} 
{% endblock %}